@font-face {
  font-family: 'AF';
  src: url("src/styles/static/AutumnFlowers-9YVZK.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'xingShu';
  src:  url("src/styles/static/云峰静龙行书.ttf");
  font-weight: normal;
  font-style: normal;
}